apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "octopus-usage-exporter.fullname" . }}
  labels:
    {{- include "octopus-usage-exporter.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "octopus-usage-exporter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "octopus-usage-exporter.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "octopus-usage-exporter.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.config.promPort }}
              protocol: TCP
          env:
            - name: API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "octopus-usage-exporter.secretName" . }}
                  key: {{ .Values.secrets.existingSecretKey }}
            - name: ACCOUNT_NUMBER
              valueFrom:
                configMapKeyRef:
                  name: {{ include "octopus-usage-exporter.fullname" . }}
                  key: ACCOUNT_NUMBER
            - name: PROM_PORT
              value: {{ .Values.config.promPort | quote }}
            - name: INTERVAL
              value: {{ .Values.config.interval | quote }}
            - name: GAS
              value: {{ .Values.config.gas | quote }}
            - name: ELECTRIC
              value: {{ .Values.config.electric | quote }}
            - name: NG_METRICS
              value: {{ .Values.config.ngMetrics | quote }}
            - name: TARIFF_RATES
              value: {{ .Values.config.tariffRates | quote }}
            - name: TARIFF_REMAINING
              value: {{ .Values.config.tariffRemaining | quote }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
