node_modules/
.env

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc
crash.log
crash.*.log
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Helm values files
values.yaml
.hcstate