{{- if .Values.mailhog.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "helicone.fullname" . }}-mailhog
  labels:
    {{- include "helicone.labels" . | nindent 4 }}
    app.kubernetes.io/component: mailhog
spec:
  type: {{ .Values.mailhog.service.type | default "ClusterIP" }}
  ports:
    - port: {{ .Values.mailhog.service.port | default 8025 }}
      targetPort: 8025
      protocol: TCP
      name: http
    - port: {{ .Values.mailhog.service.smtpPort | default 1025 }}
      targetPort: 1025
      protocol: TCP
      name: smtp
  selector:
    {{- include "helicone.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: mailhog
{{- end }}
